<h1>Generate a Link <3!</h1>
<%= form_for @link_form, :url => '/encrypt', remote: true, class: 'data-parsley-validate', id: 'link-form', method: 'GET' do |f| %>
  <div class="form-group">
  <%= f.label "Company Name*", class: "control-label" %><br>
  <%= f.text_field :company_name, class: "form-control", required: true %><br>
  </div>
  <div class="form-gruop">
  <%= f.label "Salesforce ID (optional)", class: "control-label" %><br>
  <%= f.text_field :salesforce_id, class: "form-control" %><br>
  </div>
  <div class="action">
  <%= f.submit "Create Link", class: "btn btn-default" %><br>
  </div>
<% end %>
<br>
<%= text_field_tag 'generated_link', nil, value: 'test' %>
<%= button_tag "Click to Copy :)", 'data-clipboard-target' => 'generated_link', id: 'copy-button' %>
