<div class="col-md-6 col-md-offset-3">
	<table class="table table-bordered table-hover record-detail">
		<h1 class="text-center"><%= @user.company %></h1>
		<tr>
			<th class="sub-title" colspan="2"><%= @user.salesforce_id == "N/A" ? "ID: #{@user.auto_id}" : "Salesforce ID: #{@user.salesforce_id}" %></th>
		</tr>
		<!-- Record Timestamps -->
		<%= info_box('Record Timestamps', {
			'Record Created' => '@user.created_at.localtime',
			'Record Updated' => '@user.updated_at.localtime' }) %>
		<!-- Basic System Information -->
		<%= info_box('Basic System Information', {
			'User Agent' => '@user.user_agent',
			'OS' => '@user.operating_system',
			'Browser' => '@user.browser',
			'Mobile' => '@user.mobile',
			'Screen Resolution' => '@user.screen_resolution',
			'Window Size' => '@user.window_size' }) %>
		<!-- Connection -->
		<%= info_box('Connection', {
			'IP Address' => '@user.ip_address',
			'Proxy' => '@user.proxy',
			'Download Speed' => '@user.download_speed'
			}) %>
		<!-- Browser Capability -->
		<%= info_box('Browser Capability', {
			'Cookies' => '@user.cookies',
			'JavaScript' => '@user.javascript',
			'HTML5 Support' => '@user.html5_support',
			'CSS3 Support' => '@user.css3_support',
			'Flash Version' => '@user.flash_version',
			'Video Formats Supported' => '@user.video_formats',
			'Audio Formats Supported' => '@user.audio_formats'
			}) %>
		<!-- Plugins -->
		<%= info_box('Plugins', Hash[@user.show_plugins]) %>
	</table>
</div>
<div class="col-md-3"></div>
