<!DOCTYPE html>
<html>
<head>
  <title>SparkGather</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body class="<%= controller_name%> <%= action_name %>">
	<div class="container-fluid">
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
				<a class="logo navbar-brand clearfix" href="/">SparkGather</a>
				</div>
			</div>
		</div>

		<%= yield %>

	</div>
	<%= javascript_include_tag "application" %>
	<%= javascript_include_tag :modernizr %>
	<footer class="footer"><a href="http://www.GuideSpark.com"><%= image_tag("spark.png") %></a></footer>
</body>
</html>
